<h1>New header_footer</h1>

<% form_for(@header_footer,:html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :logo %><br />
    <%= f.file_field("uploaded_picture") %>
  </p>
  <p>
    <%= f.label :header %><br />
    <%= f.file_field ("uploaded_picture1") %> 
  </p>
   <p>
    <%= f.label :t1," Top 1" %><br />
    <%= f.file_field("uploaded_picture2") %>
    
  </p>
  <p>
    <%= f.label :t2," Top 2" %><br />
    <%= f.file_field ("uploaded_picture3") %>
  </p>
  <p>
    <%= f.label :t3," Top 3" %><br />
    <%= f.file_field("uploaded_picture4") %>
  </p>
  <p>
    <%= f.label :b1,"Bottom 1" %><br />
    <%= f.file_field("uploaded_picture5") %>
  </p>
  <p>
    <%= f.label :b2,"Bottom 2" %><br />
    <%= f.file_field("uploaded_picture6") %>
  </p>
  <p>
    <%= f.label :b3,"Bottom 3" %><br />
    <%= f.file_field("uploaded_picture7") %>
  </p>
   <p>
    <%= f.label :d1,"Description 1" %><br />
    <%= f.text_field :d1 %>
  </p>
  <p>
    <%= f.label :d2,"Description 2" %><br />
    <%= f.text_field :d2 %>
  </p>
  <p>
    <%= f.label :d3, "Description 3" %><br />
    <%= f.text_field :d3 %>
  </p>
  <p>
    <%= f.label :f %><br />
    <%= f.text_field :f %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', header_footers_path %>
